{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MailSystem</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <p>CHRISTIJK</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="add">
            <div class="menu">
                <form method="POST" action="submit">
                    {% csrf_token %}
                    <label for="Time">Time</label><br>
                    <input type="time" name="time" id="time">
                    <br><br>
                    <label for="sub">Subject</label><br>
                    <select id="sub" name="subject">
                        <option selected="DBMS" name="subject">DBMS</option>
                        <option selected="DC" name="subject">DC</option>
                        <option selected="MICRO PROCESSER" name="subject">Micro Processer</option>
                        <option selected="STATISTICSt" name="subject">Statistics</option>
                        <option selected="MATHS" name="subject">Maths</option>
                    </select><br>
                    <label for="msg">Message</label><br>
                    <textarea name="message" id="link" cols="20" rows="3" placeholder="Enter here..."></textarea><br>
            </div>
            <div class="box">
                <input type="submit" value="Send Mail">
            </div>
            </form>
        </div>
</body>

